<div class="main" hidden>
  <div class="main_agendar">
    <div class="logo">
      <img src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="button">
      <button class="button_agendar" (click)="abrirModal()">Agendar</button>
    </div>
  </div>
</div>


<!-- TELA DE LOGIN-->

<div class="main_login" [hidden]="!exibirLogin">
  <div class="login">
    <div class="logo">
      <img src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="inputs">
      <div class="input_user">
        <input type="text" name="email" [(ngModel)]="email" placeholder="Email">
      </div>
      <div class="input_senha">
        <input type="password" name="senha" [(ngModel)]="senha" placeholder="Senha">
      </div>
    </div>
    <div class="button">
      <button class="button_agendar" (click)="login()">Entrar</button>
    </div>
    <div class="recuperacao_cadastro">
      <div class="recuperacao">
        <p (click)="mostrarRedefinirSenha()">Esqueceu a senha?</p>
      </div>
      <div class="cadastro">
        <p (click)="alternarDivs()">Não tem uma conta?<span> Cadastre-se aqui</span></p>
      </div>
    </div>
  </div>
</div>

<!-- TELA DE CADASTRO -->

<div class="main_registro" [hidden]="exibirLogin || exibirCheck || exibirRedefinirSenha || exibirCheckRedefinicao">
  <div class="registro">
    <div class="titulo">
      <h2>Cadastrar</h2>
    </div>
    <div class="inputs">
      <div class="input_foto">
        <div class="image-preview">
          <img class="icon_preview" src="../../../assets/img/icon/icon_foto_user.svg" *ngIf="!imageUrl">
          <div *ngIf="imageUrl" class="image-preview">
            <img [src]="imageUrl" alt="Preview">
          </div>
        </div>

        <div class="image-edit">
          <label for="foto"><img src="../../../assets/img/icon/icon_edit.svg" alt=""></label>
          <input type="file" id="foto" name="foto" (change)="onFileSelected_cadastro($event)" style="display: none">
        </div>
      </div>
      <div class="input_user">
        <input type="text" name="usuario" [(ngModel)]="usuario" placeholder="Nome/Sobrenome">
      </div>
      <div class="input_telefone">
        <input type="text" name="telefone" [(ngModel)]="telefone" placeholder="Telefone">
      </div>
      <div class="input_user">
        <input type="text" name="email" [(ngModel)]="email" placeholder="Email">
      </div>
      <div class="input_senha">
        <input type="password" name="senha" [(ngModel)]="senha" placeholder="Senha">
      </div>
      <div class="input_confirmasenha">
        <input type="password" name="confirmasenha" [(ngModel)]="confirmasenha" placeholder="Confirmar Senha">
      </div>
    </div>
    <div class="button">
      <button class="button_agendar" (click)="cadastrar()">
        <span [hidden]="carregando">Cadastrar</span>
        <app-loader #loader *ngIf="carregando"></app-loader>
      </button>
    </div>
    <div class="tenho_conta">
      <div class="conta_login">
        <p (click)="alternarDivs()">Já tenho conta</p>
      </div>
    </div>
  </div>
</div>


<!-- MENSAGEM DE SUCESSO PÓS CADASTRO -->

<div class="check_cadastro" *ngIf="exibirCheck">
  <div class="icon_check">
    <img src="../../../assets/img/icon/icon_check.svg" alt="">
  </div>
  <div class="titulo_check">
    <h3>Cadastro Realizado</h3>
  </div>
  <div class="texto_check">
    <p>Seu cadastro foi realizado com sucesso e já pode realizar o login.</p>
  </div>
  <div class="button">
    <button class="button_agendar" (click)="voltarParaLogin()">OK</button>
  </div>
</div>

<!-- TELA DE REDEFINIÇÃO DE SENHA -->

<div class="main_redefinir_senha" *ngIf="exibirRedefinirSenha">

  <div class="redefinir_senha">
    <div class="icon_redefinir">
      <img src="../../../assets/img/icon/icon_redefinir_senha.svg" alt="">
    </div>
    <div class="titulo_redefinir">
      <h3>Recuperar Senha</h3>
    </div>
    <div class="input_email_redefinir">
      <input type="text" name="email" [(ngModel)]="email" placeholder="Email">
    </div>
    <div class="button">
      <button class="button_agendar" (click)="resetPassword(email)">
        <span [hidden]="carregando">RECUPERAR SENHA</span>
        <app-loader #loader *ngIf="carregando"></app-loader>
      </button>
    </div>

  </div>
</div>


<!-- MENSAGEM DE SUCESSO PÓS REDEFINIÇÃO DE SENHA -->

<div class="check_cadastro" *ngIf="exibirCheckRedefinicao">
  <div class="icon_check">
    <img src="../../../assets/img/icon/icon_email_enviado.svg" alt="">
  </div>
  <div class="titulo_check">
    <h3>Redefinição de Senha</h3>
  </div>
  <div class="texto_check">
    <p>E-mail de redefinição de senha enviado com sucesso.</p>
  </div>
  <div class="button">
    <button class="button_agendar" (click)="voltarParaLogin()">OK</button>
  </div>
</div>




