@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.main {
    background: #161D25;
    width: 100%;
    min-height: max-content;

    .main_agendar {
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;


        .logo {
            text-align: center;
        }

        .logo img {
            width: 257px;
        }

        .button {
            text-align: center;
            margin-top: 69px;

            .button_agendar {
                border: none;

                color: #FFF;
                font-size: 20px;
                font-weight: bold;

                background: #12AAEB;
                padding: 0.5rem;
                width: 318px;
                height: 68px;
                border-radius: 12px;

                cursor: pointer;
            }

            :hover {
                background: #0d91ca;
            }

            @media screen and (max-width: 320px) {

                .button_agendar {
                    width: 280px;
                }

            }

        }
    }

}

.main_login {

    .login {
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;

        .logo {
            text-align: center;
            margin-bottom: 5rem;

            img {
                width: 257px;
            }
        }

        .inputs {
            width: 100%;

            .input_senha,
            .input_user {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            input {
                width: 100%;
                height: 45px;
                margin-bottom: 1rem;
                margin-top: 1rem;
                border-radius: 12px;
                background: #41455D;
                border: 0 none;
                outline: 0;
                padding: 0.5rem;
                color: #FFF;
                font-family: Arial, Helvetica, sans-serif;
            }

        }

        .button {
            text-align: center;
            margin-top: 25px;

            .button_agendar {
                border: none;

                color: #FFF;
                font-size: 20px;
                font-weight: bold;

                background: #12AAEB;
                padding: 0.5rem;
                width: 318px;
                height: 68px;
                border-radius: 12px;

                cursor: pointer;
            }

            :hover {
                background: #0d91ca;
            }

            @media screen and (max-width: 320px) {

                .button_agendar {
                    width: 280px;
                }

            }

        }

        .recuperacao_cadastro {
            display: flex;
            justify-content: space-between;

            .recuperacao {
                cursor: pointer;

                p {
                    margin-top: 0.5rem;
                    font-family: 'Inter';
                    color: #fff;
                    font-size: 10px;
                }
            }

            .cadastro {
                cursor: pointer;

                p {
                    margin-top: 0.5rem;
                    font-family: 'Inter';
                    color: #fff;
                    font-size: 10px;

                    span {
                        color: #0d91ca;
                    }
                }

            }
        }
    }

}

.main_registro {
    .registro {
        min-height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 2rem;

        .titulo {
            text-align: center;
            margin-bottom: 1rem;

            h2 {
                font-family: 'Inter';
                color: #fff;
                font-size: 2.5rem;
            }
        }

        .inputs {
            width: 100%;

            .input_foto,
            .input_senha,
            .input_confirmasenha,
            .input_email,
            .input_telefone,
            .input_user {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            input {
                width: 100%;
                height: 45px;
                margin-bottom: 1rem;
                margin-top: 1rem;
                border-radius: 12px;
                background: #41455D;
                border: 0 none;
                outline: 0;
                padding: 0.5rem;
                color: #FFF;
                font-family: Arial, Helvetica, sans-serif;
            }

            .input_foto {
                width: 100%;
                height: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .image-preview {
                    width: 9rem;
                    height: 9rem;
                    border-radius: 50%;
                    background-color: #D9D9D9;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon_preview {
                        width: 5rem;
                        // height: 3rem;
                        object-fit: none;
                    }

                    img {
                        width: 9rem;
                        height: 9rem;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .image-edit {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background-color: #12AAEB;
                    position: absolute;
                    margin-left: 6rem;
                    margin-bottom: -6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 2rem;
                    }
                }
            }


        }

        .button {
            text-align: center;
            margin-top: 25px;

            .button_agendar {
                border: none;

                color: #FFF;
                font-size: 20px;
                font-weight: bold;

                background: #12AAEB;
                padding: 0.5rem;
                width: 318px;
                height: 68px;
                border-radius: 12px;

                cursor: pointer;
            }

            :hover {
                background: #0d91ca;
            }

            @media screen and (max-width: 320px) {

                .button_agendar {
                    width: 280px;
                }

            }

        }

        .tenho_conta {
            display: flex;
            justify-content: space-between;

            .conta_login {
                cursor: pointer;

                p {
                    margin-top: 0.5rem;
                    font-family: 'Inter';
                    color: #fff;
                    font-size: 10px;
                }
            }
        }
    }
}

.check_cadastro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon_check {
        img {
            width: 135px;
            margin-bottom: 1rem;
        }
    }

    .titulo_check {
        font-family: "Inter";
        color: #fff;
        font-size: 25px;
        text-align: center;
    }

    .texto_check {
        width: 14rem;
        margin-top: 1rem;

        p {
            color: #FFF;
            text-align: center;
            font-family: sans-serif;
        }
    }


    .button {
        text-align: center;
        margin-top: 25px;

        .button_agendar {
            border: none;

            color: #FFF;
            font-size: 20px;
            font-weight: bold;

            background: #12AAEB;
            padding: 0.5rem;
            width: 117px;
            height: 68px;
            border-radius: 12px;

            cursor: pointer;
        }

        :hover {
            background: #0d91ca;
        }

        @media screen and (max-width: 320px) {

            .button_agendar {
                width: 280px;
            }

        }

    }
}

.main_redefinir_senha {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon_redefinir{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .titulo_redefinir{
        font-family: "Inter";
        color: #fff;
        font-size: 25px;
        text-align: center;
        margin-bottom: 1.5rem;
    }


    .input_email_redefinir {
        width: 100%;
        display: flex;
        justify-content: center;

        input {
            width: 100%;
            height: 45px;
            margin-bottom: 1rem;
            margin-top: 1rem;
            border-radius: 12px;
            background: #41455D;
            border: 0 none;
            outline: 0;
            padding: 0.5rem;
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
        }
    }



    .button {
        text-align: center;
        margin-top: 25px;

        .button_agendar {
            border: none;

            color: #FFF;
            font-size: 20px;
            font-weight: bold;

            background: #12AAEB;
            padding: 0.5rem;
            width: 318px;
            height: 68px;
            border-radius: 12px;

            cursor: pointer;
        }

        :hover {
            background: #0d91ca;
        }

        @media screen and (max-width: 320px) {

            .button_agendar {
                width: 280px;
            }

        }

    }
}

