<div class="main_topbar">

    <div class="topbar">
        <div class="buttom_voltar">
            <i (click)="sair()" class='bx bx-left-arrow-alt' ></i>
        </div>
    
        <div class="buttom_notificacao_user">
            <div class="buttom_notificacao">
                <div class="notificacao_quantidade"><span>0</span></div>
                <i class='bx bxs-bell' ></i>
            </div>
            <div class="buttom_user">
                <img src="../../../assets/img/perfil_foto.jpg" alt="">
            </div>
        </div>
    </div>

</div>