<div class="titulo_agendar">
    <h3>Agende seu <span>horário</span></h3>
</div>

<div class="main_agenda">

    <div class="mes_agenda">
        <p>{{ dadosDaSemana.nomeMes }}</p>
    </div>

    <div class="dias_agenda">
        <div class="button_left" (click)="retrocederSemana()">
            <i class='bx bx-left-arrow-alt'></i>
        </div>

        <div class="buttons_dias">
            <div *ngFor="let dia of dadosDaSemana.diasDaSemanaSelecionados" class="button_dia">
                <span [class.diaAtual]="dia.diaAtual">{{ dia.numero }}</span>
                <p>{{ dia.diaDaSemana }}</p>
            </div>
        </div>

        <div class="button_right" (click)="avancarSemana()">
            <i class='bx bx-right-arrow-alt'></i>
        </div>
    </div>

    <div class="horarios_agenda">

        <div class="horarios_main">

            <div class="horario_button">
                <span>08:00 AM</span>
            </div>

            <div class="horario_button">
                <span>08:00 AM</span>
            </div>

            <div class="horario_button">
                <span>08:00 AM</span>
            </div>

            <div class="horario_button">
                <span>08:00 AM</span>
            </div>

            <div class="horario_button">
                <span>08:00 AM</span>
            </div>

            <div class="horario_button">
                <span>08:00 AM</span>
            </div>
        </div>
    </div>

</div>