<div class="main_conteudo">

    <div class="user_conectado">
        <h2>Olá, <span>{{ userName }}</span></h2>
    </div>  

    <div class="main_cards">

        <div class="titulo_cards">
            <div class="titulo_cards">
                <p>Opções</p>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="icon_card"><img src="../../../assets/img/icon/icon_calendario.svg" alt=""></div>
                    <span>Agendar</span>
                </div>
                <div class="card">
                    <div class="icon_card"><img src="../../../assets/img/icon/icon_fidelidade.svg" alt=""></div>
                    <span>Fidelidade</span>
                </div>
            </div>
        </div>

    </div>

</div>